@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
html {
    font-family: 'Inter', sans-serif;
}

body{
    background-color: hsl(0, 0%, 8%);
    color: white;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 110vh;
    min-width: 300px;
}

#container{
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    width: 300px;
    padding: 20px 10px;
}

img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

h1{
    font-size: larger;
    margin-bottom: 0px;
}

h2{
    font-size: 12px;
    font-weight: normal;
}

#location{
    color: hsl(75, 94%, 57%);
}


button{
    background-color: hsl(0, 0%, 20%);
    color: white;
    font-weight: bold;
    padding: 5px;
    margin: 10px;
    width: 270px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

button:hover{
    background-color: hsl(75, 94%, 57%);
    color: black;
}